@import "vars";

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

@media only screen and (min-width : 375px) {
	.header {
		.header__wrapper {
			.header__logo {
				font-size: 24px;
			}
		}
	}
	.welcome {
		.welcome__image_wrapper {
			.welcome__image {
				bottom: 308px;
				right: 40px;
			}
		}
	}
}

@media only screen and (min-width : 425px) {
	.header {
		.header__wrapper {
			.header__logo {
				font-size: 29px;
			}
		}
	}

	.welcome {
		.welcome__image_wrapper {
			.welcome__image {
				bottom: 280px;
				width: 170px;
    		height: 170px;
			}
		}
	}
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
  	background-size: cover; 
	}
	.header {
		.header__wrapper  {
			margin-bottom: 30px;	
			margin-top: 16px;
			.header__logo {
				margin-left: 60px;
				font-size: 36px;
				margin-right: 44px;
			}
		}
		.menu__item a {
			font-size: 17px;
		}
  }
	.welcome {
		.welcome__title {
			display: block;
			max-width: 100%;
			font-family: 'Oswald', sans-serif;
			font-size: 22px;
			font-weight: 500;
			text-transform: uppercase;
			color: #173d7b;
			margin-bottom: 22px;
			span {
				font-size: 39px;
			}
		}
		.welcome__desc {
			font-family: Roboto,sans-serif;
			font-weight: 400;
			font-size: 16px;
			max-width: 375px;
			color: #8e8e8e;
			line-height: 28px;
			margin-bottom: 22px;
		}
		.btn__wrapper {
			flex-direction: row;
			.btn {
				font-size: 16px;
				min-width: 215px;
				max-width: 215px;
			}
			.btn__calculator {
      	margin-right: 34px;
				margin-bottom: 0;
			}
		}
		.welcome__image_wrapper {
			.welcome__image {
				width: 300px;
				height: 300px;
				bottom: 64px;
				right: 10px;
			}
		}
		.welcome__footer {
			margin-top: 60px;
			margin-bottom: 98px;
			.welcome__footer__desc {
				font-family: Roboto,sans-serif;
				font-size: 16px;
				color: #6b6b6b;
				line-height: 26px;
				max-width: 500px;
				letter-spacing: .54;
				margin-bottom: 26px;
			}
		}

	}
	.footer {
		.footer__wrapper {
    	flex-direction: row;
			.footer__right {
				font-size: 14px;
				line-height: 33px;
      		align-items: flex-end;
			}
			.footer__left {
				font-size: 14px;
				margin: 0;
			}			
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.header {
		margin: 0;
		.header__wrapper  {
			align-items: baseline;
			margin-bottom: 20px;
			margin-top: 0;
			.header__logo {
				font-size: 72px;
				margin-left: 0;
				margin-right: 75px;
			}
		}
	}
	.menu {
		.menu__item {
			a {
      	font-size: 22px;
				width: 316px;
				height: 436px;
			}
		}
	}
	.welcome  {
		&::before {
			bottom: 58px;
			width: 90px;
			height: 148px;
		}
		&::after {
			bottom: 0px;
			width: 78px;
			height: 149px;
		}
		.welcome__title {
    	font-size: 38px;
			margin-bottom: 25px;
			span {
      	font-size: 47px;
			}
		}
		.welcome__desc {
			text-align: left;
    	font-size: 20px;
			margin-bottom: 40px;
			max-width: 530px;
		}
		.btn__wrapper {
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			.btn {
    		font-size: 22px;
				min-width: 260px;
    		max-width: 260px;
			}
			.btn__calculator {
      	margin-right: 34px;
				margin-bottom: 0;
			}
		}
		.welcome__image_wrapper {
			min-height: 0px;
			.welcome__image {
				position: absolute;
				width: 425px;
				height: 425px;
				bottom: 40px;
				left: auto;
				right: 0;
			}
		}
		.welcome__footer {
			display: block;
    	margin-top: 26px;
			margin-bottom: 164px;
			.welcome__footer__title {
				padding-bottom: 16px;
			}
			.welcome__footer__desc { 
      	font-size: 19px;
				max-width: 925px;
			}
		}
	}
	.footer {
		.footer__wrapper {
    	flex-direction: row;
			padding: 0 20px;
			.footer__left {
				font-size: 20px;
				margin-bottom: 0;
			}
			.footer__right {
				font-size: 20px;
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.header {
		margin-top: 0;
		.header__wrapper { 
			margin-top: 25px;
			margin-bottom: 171px;
		}
	}
	.welcome {
		&::before {
    	bottom: 58px;
		}
		&::after {
			bottom: 0;
			width: 80px;
			height: 150px;
		}
		.welcome__desc {
			margin-bottom: 46px;
		}
		.welcome__image_wrapper {
			min-height: 510px;
			.welcome__image {
				position: absolute;
				width: 600px;
				height: 600px;
				bottom: 0;
				left: 0;
      	right: auto;
			}
		}
	}
}

@media only screen and (min-width : 1440px) {
	.header {
		.header__wrapper {
			.header__logo {
				margin-right: 110px;
			}
		}
	}
	.welcome {
		.welcome__image_wrapper {
			.welcome__image {
				width: 600px;
				height: 600px;
			}
		}
	}
}

@media only screen and (min-width : 1910px) {
	.container {
		max-width: 1440px;
	}
	.header {
		&::before {
			height: 430px;
		}
		.header__wrapper {
			margin-top: 68px;
			.header__logo {
				font-size: 90px;
				margin-right: 140px;
			}
		}
	}
	.welcome {
		.welcome__image_wrapper {
			.welcome__image {
				width: 760px;
				height: 760px;
			}
		}
	}
}

@media only screen and (min-width : 2560px) {
}
